@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  transition: 0.5s;

  &--nav {
    border: white;
    transition: 0.5s;
  }

  &--border {
    border-color: #404040;
  }

  &--text {
    color: #404040;
  }
}

.dark {
  background-color: #171717;
  color: #d4d4d4;
  transition: 0.5s;

  &--nav {
    background-color: #404040;
    border: #404040;
    transition: 0.5s;
  }

  &--border {
    border-color: #d4d4d4;
  }

  &--text {
    color: #d4d4d4;
  }
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.fixed-navbar {
  transform: translateX(-50%);
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
